#navigation-container {
  width: 4%;
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Hide overflowing content during transition */
  background-color: teal; /* Set background color to teal */
}

#navigation-container:hover {
  width: 15%;
}


.nav-item-name {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; 
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0; /* Ensure it is invisible initially */
  transition: opacity 0.3s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.3s ease-in-out; /* Add opacity transition */
}

